/* This is just an example.  You shouldn't do this. */
#keyboard_test-hello
{
}
#keyboard_test-toolbar-button
{
  list-style-image: url("chrome://keyboard_test/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#keyboard_test-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #keyboard_test-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #keyboard_test-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}